@using Library.MVC.Models.BookGenres
@model IEnumerable<ListBookGenresViewModel>
@{
    ViewData["Title"] = "Categorie Libri";
}

<h1>
    Book genres
</h1>

<p>
    <a class="btn btn-success" asp-action="Create">
        Insert new book genre
    </a>
</p>

<table class="table table-striped table-hover table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.BooksCount)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var genre in Model)
        {
            <tr>
                <td>
                    @genre.Name
                </td>
                <td>
                    @genre.BooksCount
                </td>
                <td>
                    <a href="@Url.Action("Details",new{id = genre.Id})">
                        Details
                    </a>|
                    <a href="@Url.Action("Edit", new {id = genre.Id})">
                        Modify
                    </a>|
                    <a href="#" onclick="deleteBookGenre(@genre.Id); return false;">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function deleteBookGenre(id) {
        // Using jQuery
        $.ajax({
            url: '@Url.Action("Delete")',
            type: 'POST',
            dataType: 'json',
            data: {
                id : id
            },
            success: function(data) {
                if (data.success) {
                    location.href = '@Url.Action("Index", "BookGenres")'; // Reload the page
                } else {
                    alert('Error when trying to delete');

                    if (data.message) {
                        console.log(data.message);
                    }
                }
            }
        });
    }
</script>