@using Library.MVC.Models.Library

@model IEnumerable<LibraryViewModel>

@{
    ViewData["Title"] = "Books";
}

<h1>
    List of books in library
</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a href="@Url.Action("Create")" class="btn btn-success">
            Insert a book
        </a>
    </p>
}

<table class="table table-striped table-hover table light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(b => b.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(b => b.Title)
            </th>
            <th>
                @Html.DisplayNameFor(b => b.Author)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @book.ISBN
                </td>
                <td>
                    @book.Author
                </td>
                <td>
                    @book.Title
                </td>
                <td>
                    <a href="@Url.Action("BookDetails", new {isbn = @book.ISBN})">
                        Details
                    </a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a href="@Url.Action("Edit", new {isbn = @book.ISBN})">
                            Modify
                        </a>
                        <a href="#" onclick="deleteBook(@book.ISBN); return false;">
                            Delete
                        </a>
                    }
                </td>
                    
            </tr>
        }
    </tbody>
</table>

<script>
    function deleteBook(isbn) {
        // Using jQuery
        $.ajax({
            url: '@Url.Action("Delete")',
            type: 'POST',
            dataType: 'json',
            data: {
                isbn : isbn
            },
            success: function(data) {
                if (data.success) {
                    location.href = '@Url.Action("Index", "Library")'; // Reload the page
                } else {
                    alert('Error when trying to delete');

                    if (data.message) {
                        console.log(data.message);
                    }
                }
            }
        });
    }
</script>